@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f7fc;
  --foreground: #3075b6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ultramarine);
}
